In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [6]:
df = pd.read_csv("569. LH서울공릉 행복주택 발전량.csv", encoding='euc-kr')
# 인버터 개수, 날짜, 시간, 인버터 출력, 누적 발전량
df = df[['pow_id', 'pow_date', 'pow_time', 'pow_cap', 'pow_totpower']]
df.head()

   pow_id    pow_date  pow_time  pow_cap  pow_totpower
0       1  2018-12-28  09:26:56      160            30
1       1  2018-12-28  09:27:50      160            80
2       1  2018-12-28  09:28:44      160           130
3       1  2018-12-28  09:29:38      160           190
4       1  2018-12-28  09:30:32      160           230

In [3]:
# 발전량 column추가 기본값:0
df['power'] = 0

In [ ]:
# 시간 변경&발전량 계산. 겁나오래걸림
for i in range (df.shape[0]):
    df['pow_time'][i] = df['pow_time'][i][:-6]
    if i != (df.shape[0]-1):
        df['power'][i] = df['pow_totpower'][i+1] - df['pow_totpower'][i]
    if(i%1000 == 0):
        print(i)

In [5]:
df.to_csv("569. LH서울공릉 행복주택 발전량(수정).csv")

In [99]:
df2 = pd.read_csv("615. 보듬어린이집 발전량(수정).csv", encoding='euc-kr')
df2 = df2[['pow_id', 'pow_date', 'pow_time', 'pow_cap', 'power']]
df2.head()

   pow_id    pow_date  pow_time  pow_cap  power
0       1  2019-11-18         5      260      0
1       1  2019-11-18         5      260      0
2       1  2019-11-18         5      260      0
3       1  2019-11-18         5      260      0
4       1  2019-11-18         5      260      0

In [149]:
power_cap = df2['pow_cap'][0]
power_cap

260

In [140]:
# pow_date+pow_time 별로
date_unique = df2['pow_date'].unique().tolist()
time_unique = df2['pow_time'].unique().tolist()

In [ ]:
date_list = []
for date in date_unique:
    for time in time_unique:
        date_list.append(date)

In [151]:
data = {'pow_date': date_list,
       'pow_time':time_unique*len(date_unique)}
final_df = pd.DataFrame(data)
final_df['power_cap'] = power_cap
final_df['power'] = 0

In [170]:
for index, row in final_df.iterrows():
    d = row['pow_date']
    t = row['pow_time']
    power_list = df2[(df2['pow_date']==d) & (df2['pow_time']==t)]['power']
    total_power = 0
    for power in power_list:
        total_power += power
    final_df['power'][index] = total_power

In [171]:
final_df

        pow_date  pow_time  power_cap  power
0     2019-11-18         5        260      0
1     2019-11-18         6        260      0
2     2019-11-18         7        260      0
3     2019-11-18         8        260   1380
4     2019-11-18         9        260   3520
5     2019-11-18        10        260   9370
6     2019-11-18        11        260  13940
7     2019-11-18        12        260  14610
8     2019-11-18        13        260  12900
9     2019-11-18        14        260   5320
10    2019-11-18        15        260   2280
11    2019-11-18        16        260   1300
12    2019-11-18        17        260      0
13    2019-11-18        18        260      0
14    2019-11-18        19        260      0
15    2019-11-18        20        260      0
16    2019-11-19         5        260      0
17    2019-11-19         6        260      0
18    2019-11-19         7        260      0
19    2019-11-19         8        260   1170
20    2019-11-19         9        260   5470
21    2019-11-19        10        260  12010
22    2019-11-19        11        260  15820
23    2019-11-19        12        260  16090
24    2019-11-19        13        260  15000
25    2019-11-19        14        260   5310
26    2019-11-19        15        260   2580
27    2019-11-19        16        260    980
28    2019-11-19        17        260      0
29    2019-11-19        18        260      0
...          ...       ...        ...    ...
1618  2020-03-02         7        260     50
1619  2020-03-02         8        260   2240
1620  2020-03-02         9        260   7230
1621  2020-03-02        10        260  13250
1622  2020-03-02        11        260  17120
1623  2020-03-02        12        260  19780
1624  2020-03-02        13        260  20630
1625  2020-03-02        14        260  19120
1626  2020-03-02        15        260  11650
1627  2020-03-02        16        260   2440
1628  2020-03-02        17        260   1300
1629  2020-03-02        18        260    110
1630  2020-03-02        19        260      0
1631  2020-03-02        20        260      0
1632  2020-04-29         5        260      0
1633  2020-04-29         6        260      0
1634  2020-04-29         7        260      0
1635  2020-04-29         8        260      0
1636  2020-04-29         9        260      0
1637  2020-04-29        10        260      0
1638  2020-04-29        11        260      0
1639  2020-04-29        12        260      0
1640  2020-04-29        13        260      0
1641  2020-04-29        14        260      0
1642  2020-04-29        15        260      0
1643  2020-04-29        16        260      0
1644  2020-04-29        17        260      0
1645  2020-04-29        18        260      0
1646  2020-04-29        19        260      0
1647  2020-04-29        20        260      0

[1648 rows x 4 columns]

In [172]:
final_df.to_csv("569. LH서울공릉 행복주택 발전량(최종수정).csv")